---
import { type CollectionEntry, getCollection } from "astro:content";

import Layout from "~/layouts/Layout.astro";
import Record from "~/components/Record";

export async function getStaticPaths() {
  const posts = await getCollection("music");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"music">["data"];

const post = Astro.props;
const { Content } = await post.render();
---

<Layout
  title={post.data.album}
  description={post.data.album + "-" + post.data.artist}
>
  <section>
    <div
      class="container mx-auto max-w-screen-lg px-6 lg:px-0 flex flex-col items-start md:items-end md:flex-row pt-8 pb-12 overflow-hidden"
    >
      <Record
        client:visible
        albumId={post.slug}
        title={post.data.album}
        imageUrl={post.data.cover_art_url}
      />
      <div class="flex-1 flex flex-col justify-end pt-8">
        <h1 class="text-5xl font-bold tracking-tight text-gray-100">
          {post.data.album}
        </h1>
        <p class="mt-3 text-3xl">{post.data.artist}</p>
        <p class="mt-2 text-lg">
          {post.data.genres[0]} — {post.data.release_date}
        </p>
      </div>
    </div>
    <div
      class="prose prose-invert md:prose-md md:prose-lg xl:prose-xl 2xl:prose-2xl mx-auto px-6 lg:px-0"
    >
      <Content />
    </div>
  </section>
</Layout>
